input, textarea {
    width: 500px;
    font-size: 14px;
    
}

input {
    height: 30px;
    padding: 6px;
    margin-bottom: 15px;
}

textarea {
    padding: 6px;
    margin-bottom: 10px;
}

button {
    color: white;
    font-family: var(--h-font);
    background-color: #555;
    width: 125px;
    padding: 8px;
    margin: 10px auto 15px auto;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1.5px;
    border: none;
    font-size: 18px;
}

button:hover {
    background-color: #323031;
    color: #dddd64;
    cursor: pointer;
}

.options-f {
    font-family: var(--h-font);
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.entry {
    margin-top: 5px;
}

.contact-us-form {
    margin: auto;
    width: 500px;
}

.email-icon {
    width: 500px;
}

.email-icon > img {
    width: 100px;
    height: 85px;
    margin: 20px 200px 20px 200px;
}

#feedback {
    display: none;
    font-family: var(--b-font);
    margin: 10px 0 15px 0;
    text-align: center;
}
