:root {
    --gen-text-color: #999;
    --black: #000;
    --gray_1: #222;
    --gray_2: #888;
    --white: #fff;
    --pink: hotpink;
    --green: green;
    --l_green: lightgreen;
    --blue: #99ccff;
    --orange: #f08080;
    --yellow: #dddd64;
    --purple: #9370d8;
    --red: firebrick; 
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin-bottom: 15px;
    border-top: 1px solid var(--gen-text-color);
    border-bottom: 1px solid #333;
}

h1 {
    color: var(--gen-text-color);
    font-size: 30px;
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

span {
    font-size: 15px;
    text-shadow: none;
    color: var(--gen-text-color);
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    cursor: pointer;
}

.dot-game-area {
    background-color: #333;
    min-width: 1000px;
    padding: 10px;
}

.circ {
    margin: 10px;
    float: left;
    cursor: pointer;
    opacity: 100%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.sqr {
    margin: 10px;
    float: left;
    cursor: pointer;
    opacity: 100%;
    width: 30px;
    height: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
}

.options-h {
    font-family: 'Architects Daughter', cursive;
    color: var(--gen-text-color);
    font-size: 20px;
    margin-bottom: -3px;
    margin-top: 10px;
    text-align: center;
}

.bg-select {
    height: 30px;
    width: 20%;
}

.dot:hover {
    border: 1px solid var(--gen-text-color);
}

.color-options {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.color-selection-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.csg-column-1 {
    display: grid;
    grid-column: 1;
}
.csg-column-2 {
    display: grid;
    grid-column: 2;
}
.csg-column-3 {
    display: grid;
    grid-column: 3;
}
.csg-column-4 {
    display: grid;
    grid-column: 4;
}
.csg-column-5 {
    display: grid;
    grid-column: 5;
}

.glow-black {
    box-shadow: 0 0 8px #000, 0 0 24px var(--black);
    background-color: var(--black);
}
.glow-gray_1 {
    box-shadow: 0 0 8px #222, 0 0 24px var(--black);
    background-color: var(--gray_1);
}
.glow-gray_2 {
    box-shadow: 0 0 8px var(--gray_2), 0 0 24px var(--white);
    background-color: var(--gray_2);
}

.glow-white {
    box-shadow: 0 0 8px var(--white), 0 0 24px var(--white);
    background-color: var(--white);
}

.glow-pink {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--pink);
    background-color: rgb(255, 240, 240);
}

.glow-green {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--green);
    background-color: rgb(240, 240, 255);
}
.glow-l_green {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--l_green);
    background-color: rgb(240, 240, 255);
}

.glow-blue {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--blue);
    background-color: rgb(240, 240, 255);
}

.glow-orange {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--orange);
    background-color: rgb(240, 240, 255);
}

.glow-yellow {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--yellow);
    background-color: rgb(240, 240, 255);
}
.glow-purple {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--purple);
    background-color: rgb(240, 240, 255);
}
.glow-red {
    box-shadow: 0 0 8px #fff, 0 0 24px var(--red);
    background-color: rgb(240, 240, 255);
}

.glow-off {
    box-shadow: none;
    border: 1px dotted #555;
}

.black {
    cursor: pointer;
    background-color: var(--black);
}
.gray_1 {
    cursor: pointer;
    background-color: var(--gray_1);
}
.gray_2 {
    cursor: pointer;
    background-color: var(--gray_2);
}

.white {
    cursor: pointer;
    background-color: var(--white);
}

.pink {
    cursor: pointer;
    background-color: hotpink;
}

.green {
    cursor: pointer;
    background-color: var(--green);
}
.l_green {
    cursor: pointer;
    background-color: var(--l_green);
}

.blue {
    cursor: pointer;
    background-color: #99ccff;
}

.orange {
    cursor: pointer;
    background-color: lightcoral;
}

.yellow {
    cursor: pointer;
    background-color: var(--yellow);
}
.purple {
    cursor: pointer;
    background-color: var(--purple);
}
.red {
    cursor: pointer;
    background-color: var(--red);
}

.off {
    cursor: pointer;
    box-shadow: none;
    border: 1px dotted #555;
    background-color: #333;
}

.border {
    border: 1px solid white;
}

.grid-toggle {
    width: 100%;
    border: 1px solid var(--gen-text-color);
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.toggle-shape, .toggle-glow {
    display: flex;
    padding: 8px;
    width: 50%;
    justify-content: center;
    color: var(--gen-text-color);
    cursor: pointer;
}

.toggle-active {
    background-color: #222;
}

.start-img {
    padding: 4px;
    margin-top: 12px;
    color: var(--gen-text-color);
    cursor: pointer;
    background-color: #222;
    font-family: 'Roboto', sans-serif;
}

.bg-black {
    cursor: pointer;
    background-color: var(--black);
}
.bg-blue {
    cursor: pointer;
    background-color: var(--blue);
}
.bg-white {
    cursor: pointer;
    background-color: var(--white);
}
.bg-gray {
    cursor: pointer;
    background-color: #222;
}
.bg-l_gray {
    cursor: pointer;
    background-color: #333;
}

#active-color {
    position:relative;
    display: flex;
    width: 25px;
    height: 25px;
    margin: 18px auto 25px auto;
}

#active-color::after {
    content:"";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #444 transparent transparent;
    position: absolute;
    left: 55px;
    top: 2px;
}

#active-color::before {
    content:"";
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent  transparent transparent #444;
    position: absolute;
    left: -45px;
    top: 2px;
}

#dot-output {
    width: 800px;
    height: 650px;
}